.product{
    width:50%;
    margin: 0 auto;
    border-radius: 10px;
    border:2px solid black;
    padding:20px;
}

@keyframes imageanim {
    0%   {transform: translate(50px);}
    25%  {transform: translate(-50px);}
    50%  {transform: translate(50px);}
    100% {transform: translate(-50px);}
  }

.productImage{
    width: 50%;
    margin: 2px black auto;
    max-width:100%;
    height:auto;
    margin-top: 10px;
    animation: imageanim 5s ease 0s infinite alternate;
}

.productDesc{
    width:100%;
    text-align: left;
}

.loading{
    font-size: large;
    color: red;
}